header{
    background-image:url('../img/pattern.png');
    background-size:contain;
    background-color: rgb(78,160,255,255);
    height: 150px; 
}
.logo{
    width: 300px;
    margin-top: 80px;
}
h1{
    font-size: 60px;
    margin: 0;
}
.gray1{
    color: gray;
}
.gray2{
    color: gray;
    font-size: 12px;
}
.booleaners{
    color: rgb(51, 176, 231);
}
.highlight{
    background-color: yellow;
}
.list{
    padding-left: 20px;
}
.tablehead{
    background-color: rgb(32,169,229,255);
    text-align: left;
    color: white;
}
.tablebody1{
    background-color: rgb(177,229,242,255);
    text-align: left;
}
.tablebody2{
    text-align: left;
}
.w25{
    width: 25%;
}
.w50{
    width: 50%;
}
.interest1{
    background-image: url('../img/monitor.jpg');
    background-size: cover;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
.interest2{
    background-image: url('../img/graph.jpg');
    background-size: cover;
    width: 300px;
    height: 200px;
}
.image-text{
    color: white;
}